/* Listsflame_styles */
.listsContainer {
  width: 30%;
  max-width: 400px;
  height: 100%;
  cursor: pointer;
  border: 3px solid #cccccc;
  border-radius: 30px 30px 15px 15px;
}

.selectedListsContainer {
  width: 30%;
  max-width: 400px;
  height: 100%;
  border: 3px solid#66ff33;
  border-radius: 30px 30px 15px 15px;
}

.listHeader {
  display: flex;
  height: 5%;
  width: 100%;
}

.listTitle {
  margin: 0;
  height: 100%;
  width: 20%;
  margin-right: 30%;
  margin-left: 40%;
  text-align: center;
}

.listTools {
  width: 10%;
  cursor: pointer;
  font-weight: bold;
}

.listTools:hover {
  color: #00cc33;
}

.tabList {
  display: flex;
  flex-direction: row;
  height: 5%;
  margin: 0;
  border-bottom: 1px solid #c0c0c0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.category {
  margin-right: 3%;
  margin-left: 3%;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
  display: inline-block;
}

.selectedCategory {
  margin-right: 3%;
  margin-left: 3%;
  font-weight: 20px;
  font-weight: bold;
  border-bottom: 2px solid #00cc33;
  cursor: default;
  list-style: none;
  color: #00cc33;
  display: inline-block;
}

/* Panels */

.panel {
  height: 90%;
  width: 100%;
}

.ul {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

/* item */
.item {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #c0c0c0;
  height: 40px;
  width: 95%;
  font-size: 120%;
}

.item:focus-within {
  border-bottom: 2px solid #00cc33;
}

.itemFrom {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.itemInput {
  height: 100%;
  width: 90%;
  margin-left: 10%;
  font-size: 80%;
  border: none;
  outline: none;
  box-shadow: #00cc33;
}

.itemDate {
  width: 30%;
  border: none;
}

/* Header */
.container {
  background-color: rgb(192, 253, 184);
  height: 100px;
}

.title {
  color: rgb(76, 236, 124);
  font-size: 50px;
  margin: 0;
  text-align: center;
}

.routes {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* margin-top: 30px; */
}

.rout {
  font-size: 20px;
  margin-right: 20px;
}

.rout:hover {
  text-decoration: underline;
}
