.body {
  height: 100%;
  min-height: 560px;
}

.title {
  display: flex;
  justify-content: space-between;
  height: 5%;
  width: 100%;
  background-color: #00cc00;
  margin-bottom: 2%;
}

.titleName {
  margin: 0 1% 0 1%;
  color: #fff;
  cursor: pointer;
}

.headerNavi {
  min-width: 230px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  display: none;
}

.naviRoute {
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
}

.naviRoute:hover {
  text-decoration: underline;
}

.humberger {
  display: block;
  height: 100%;
  margin-right: 1%;
  cursor: pointer;
}

.lines {
  margin-top: 8px;
}

.line {
  height: 3px;
  width: 30px;
  margin-top: 5px;
  font-weight: bold;
  background-color: #fff;
}

.asideMenu {
  position: absolute;
  z-index: 1;
  right: 0;
  height: 100%;
  width: 180px;
  background: #fff;
  transition: all 0.2s;
}

.closedAsideMenu {
  position: absolute;
  z-index: 1;
  right: 0;
  height: 100%;
  width: 0;
  background: #fff;
  transition: all 0.2s;
}

.openHumberger {
  display: block;
  height: 100%;
}

.closedHumberger {
  display: none;
}

.openHumBack {
  position: absolute;
  z-index: 1;
  left: -100;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.closeHumBack {
  display: none;
}

.closeHum {
  height: 5%;
  text-align: center;
  background-color: #cccccc;
  cursor: pointer;
}

.humNav {
  height: 95%;
}

.humUl {
  padding: 0;
  margin: 0;
  height: 100%;
}

.humLi {
  margin-left: 5%;
  height: 40px;
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}

.humLi:hover {
  color: #00cc33;
}

.humString {
  display: block;
  height: 100%;
  font-size: 20px;
}

.serch {
  display: flex;
  height: 5%;
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 2%;
  border: 2px solid #cccccc;
  border-radius: 50px;
  text-align: center;
  border-radius: 50px;
  background-color: #f5f5f5;
}

.serch:focus-within {
  border: 2px solid #00cc00;
  background-color: #fff;
}

.serchInput {
  height: 100%;
  width: 85%;
  margin-right: 5%;
  margin-left: 10%;
  font-size: 100%;
  border: none;
  outline: none;
  background-color: #f5f5f5;
}

.serchInput:focus {
  background-color: #fff;
}

.buttons {
  height: 5%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add {
  width: 8%;
  min-width: 80px;
  height: 36px;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  border: 2px solid #cccccc;
  border-radius: 100px;
  font-size: 30px;
  color: #666666;
  font-weight: bold;
  text-align: center;
}

.add:hover {
  border: 2px solid #00cc33;
}

.delete {
  width: 8%;
  min-width: 80px;
  height: 36px;
  cursor: pointer;
  text-align: center;
  border: 2px solid #cccccc;
  border-radius: 100px;
}

.delete:hover {
  border: 2px solid #00cc33;
}

.lists {
  width: 95%;
  margin: auto;
  height: 73%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

@media (max-width: 415px) {
  .title {
    display: flex;
    justify-content: space-between;
    height: 5%;
    width: 100%;
    background-color: #00cc00;
    margin-bottom: 3%;
  }

  .serch {
    display: flex;
    height: 5%;
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 3%;
    border: 2px solid #cccccc;
    border-radius: 50px;
    text-align: center;
    border-radius: 50px;
    background-color: #f5f5f5;
  }

  .buttons {
    height: 5%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 905px) {
  .title {
    display: flex;
    justify-content: space-between;
    height: 5%;
    width: 100%;
    background-color: #00cc00;
    margin-bottom: 1%;
  }

  .headerNavi {
    min-width: 230px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-around;
  }

  .humberger {
    display: none;
  }

  .serch {
    display: flex;
    height: 5%;
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 1%;
    border: 2px solid #cccccc;
    border-radius: 50px;
    text-align: center;
    border-radius: 50px;
    background-color: #f5f5f5;
  }

  .buttons {
    height: 5%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .lists {
    width: 100%;
    height: 73%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}

/* ログインページ＆登録ページ */
.userForm {
  min-width: 350px;
  width: 30%;
  height: auto;
  margin: auto;
  text-align: center;
}

.userformTitle {
  padding-top: 20px;
}

.userinput {
  width: 80%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 100%;
}

.userinput:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem rgb(76, 236, 124);
}

.userbutton {
  cursor: pointer;
  width: 80%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 100%;
  background-color: rgb(110, 245, 92);
  outline: none;
}

.userbutton:hover {
  background-color: rgb(51, 248, 25);
}

.userbutton:disabled {
  cursor: default;
  background-color: rgb(162, 252, 150);
}

.userlink {
  color: rgb(27, 149, 224);
  font-weight: 7px;
}

.userlink:hover {
  text-decoration: underline;
}

/* アバウト、about */
.about {
  display: flex;
  justify-content: center;
}

.toLoginOrSignup {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
}
